/*@import url(https://fonts.googleapis.com/css?family=Open+Sans);*/

body {
    background: lightgrey;
}

.box1{
    float: left;
    width: 32%;
    margin-left: 10%;
    margin-top: 5%;
    padding: 20px;
    background: #eee;
    box-sizing: border-box;

}
.box2 {
    float: right;
    width: 32%;
    margin-right: 10%;
    margin-top:5%;
    margin-bottom:5%;
    padding:20px;
    background: #eee;
    box-sizing: border-box;

}

/*html {*/
/*	height: 100vh;*/
/*	width:100%;*/
/*}*/

/*body {*/
/*	height: 100vh;*/
/*	margin: 0;*/
/*    padding: 0;  */
/*    font-family: "Open Sans", sans-serif;*/
/*    line-height: 1.6;*/
/*    list-style: none;*/
/*    text-decoration: none;  */
/*    */
/*}*/

/*h1 {*/
/*	margin-bottom: 1.5em;*/
/*    padding-left: 15px;*/
/*    padding-bottom: 5px;*/
/*    padding-right: 30px;*/
/*    border-left: 3px solid #fff;*/
/*    border-bottom: 3px solid #fff;*/
/*    font-size: 1.2em;*/
/*    font-weight: 600;*/
/*    text-transform: uppercase;*/
/*    letter-spacing: 3px;    */
/*} */

/*#mainpage{*/
/*	position: relative;*/
/*    height: 100vh;*/
/*	margin-top:50px;*/
/*	width:100%;*/
/*}*/

/*#tab {*/
/*  overflow: hidden;*/
/*  border: 1px solid #ccc;*/
/*  background-color: #f1f1f1;*/
/*  height:45px;*/
/*  width:100%;*/
/*}*/

/*.tablinks  {*/
/*  background-color: inherit;*/
/*  float: left;*/
/*  border: none;*/
/*  outline: none;*/
/*  cursor: pointer;*/
/*  padding: 14px 16px;*/
/*  transition: 0.3s;*/
/*  width:auto;*/
/*}*/

/*.tablinks:hover {*/
/*  background-color: #ddd;*/
/*}*/

/*.tablinks .active {*/
/*  background-color: #ccc;*/
/*}*/

/*.tabcontent {*/
/*  display: none;  */
/*  padding-bottom:0;*/
/*  border-top: none;*/
/*  height:auto;*/
/*} */

/*#search {*/
/*  width: 26%;*/
/*  position: relative;*/
/*  display: flex;*/
/*  height:100%;*/
/*  float:right;*/
/*  font-family: 'Open Sans', sans-serif;*/
/*  margin-right:30px;*/
/*}*/

/*#searchTerm {*/
/*  width: 75%;*/
/*  border: 3px solid #00B4CC;*/
/*  border-right: none;*/
/*  border-radius: 5px 0 0 5px;*/
/*  outline: none;*/
/*  color: #9DBFAF;*/
/*  height:100%;*/
/*}*/

/*#searchTerm:focus{*/
/*  color: #00B4CC;*/
/*}*/

/*#searchButton {*/
/*  border: 3px solid #00B4CC;*/
/*  background-color: #00B4CC;*/
/*  text-align: center;*/
/*  color: blue;*/
/*  border-radius: 0 5px 5px 0;*/
/*  cursor: pointer;*/
/*  font-size: 20px;*/
/*  height:100%;*/
/*  width:20%;*/
/*}*/

/*.gamesWrapper {*/
/*	width:100%;*/
/*	background-color:grey;*/
/*	display:grid;*/
/*	grid-template-columns: 1fr 1fr 1fr;*/
/*	grid-template-rows: 1fr 1fr 1fr;	*/
/*}*/

/*.other {*/
/*	background-color: */
/*	#e7e7e7; color: */
/*	black;*/
/*} */

/*.games{*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.gameContainer {*/
/*	margin: 0 auto;*/
/*	height:70%;*/
/*	width:70%;*/
/*}*/