@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
	height: 100vh;
	width:100%;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;    
    min-height: 100vh;
}

h1 {
    font-size: 1.2em;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-right: 30px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    text-transform: uppercase;
    margin-bottom: 1.5em;
    letter-spacing: 3px;
    font-weight: 600;
}

.mainpage{
	position: relative;
    min-height: 100vh;
	margin-top:50px;
	width:100%;
}

 /* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: grey;
  height: 100vh;
  float:left;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar .tablinks.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}



/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} 

.tabcontent {  
  padding-bottom:0;
  border-top: none;
  height:100vh;
  margin-left:200px;  
  border:green solid 5px;
}



