@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
    height: 83vh;
    width: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    height: 100%;
    overflow-y: hidden;
    position: fixed;
    width: 100%;

}

#mainpage {
    position: relative;
    height: 100%;
    margin-top: 50px;
    width: 100%;
    background-color: blue;
    display: flex;
    align-items: center;
    overflow-y: hidden
}

#gameDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#GamesSitesContainer {
    display: flex;
    width: 100vw;
    height: 100%;
    background-color: grey;
    margin-top: 50px;
    bottom: 0;
}

#GamesContent {
    width: 40%;
    height: auto;
    background-color: white;
    float: right;
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 20px;
}

#games {
    height: 100vh;
    padding-right: 10px;
}

#startGame {
    box-shadow: inset 2px 4px 0px 0px #899599;
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color: #ededed;
    border-radius: 15px;
    border: 1px solid #d6bcd6;
    display: inline-block;
    cursor: pointer;
    color: #3a8a9e;
    font-family: Arial;
    font-size: 23px;
    font-weight: bold;
    padding: 15px 76px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #e1e2ed;
    width: 98%;
    text-align: center;
    margin-right: 15px;
}

#startGame:hover {
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color: #bab1ba;
}

#startGame:active {
    position: relative;
    top: 1px;
}
